@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-slate-200;
    }

    body {
        @apply bg-slate-50 text-slate-900;
        font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}